/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
    -moz-box-sizing: border-box; /* Firexfox */
    -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
    box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
 clear: both;
}

.alignright {
 float: right;
 padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
 float: left;
 padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
    color: #000;
    font-size: 12px;
    line-height: 1.4;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #f0efef;
}

/******************************************
/* LAYOUT AND STYLES
/*******************************************/

/* nav bar */
.flex-nav{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding:24px;
    background: black; 
  }
  
  .flex-nav .appHome{
    color:white;
    font-weight:600;
    font-size:20px;
    padding-right:45%;
  }

  .flex-nav a{
    color:white;
    font-weight:300;
    font-size:14px;
    text-decoration: none;
  }
  
/* main container*/
.mainContainer{
    display: flex;
    flex-direction: row;
    margin-top:5px;
}

/* left side chart*/
.flex-left-container{
  display:flex;
  flex-direction:column;
  flex-wrap: wrap;
  width:65%;
}

/* right side items*/
.flex-right-container{
  display:flex;
  flex-direction:column;
  flex-wrap: wrap;
  width:35%;
  padding-left:5px;
  padding-right:0;
  border:1px solid black;
}

.flex-right-container .flex-info-container{
  display:flex;
  flex-direction: row;
  font-size: 8px;
}

.flex-info-container {
  display:flex;
  border: 1px black solid;
}

.flex-ticker-container{
  flex:1;
  border: 1px black solid;
  font-size:10px;
}

.flex-info-container #companyInfo {
  margin-right:5px;
  text-align: justify;
  /*border: 1px black solid;*/
}

.flex-info-container #ceoInfo {
  margin-left:5px;
  text-align: justify;
  /*border: 1px black solid;*/
}

.flex-info-container #companyInfo #cpyPic {
    margin-left: 60px;
    height:80px;
    width:80px;
    
  }

  .flex-info-container #ceoInfo #ceoPic {
    margin-left: 60px;
    height:80px;
    width:80px;
  }

  /*table formatting-fix more*/

  table {
    border-collapse: collapse;
    border-spacing: 2px;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
  }
  
  table, th, td {
    border: 1px solid black;
  }





